<div id="<%= dom_id course %>">
  <div>
    <strong>Code:</strong>
    <%= course.code %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= course.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= course.description %>
  </div>

  <div>
    <strong>Credits:</strong>
    <%= course.credits %>
  </div>

  <div>
    <strong>Capacity:</strong>
    <%= course.capacity %>
  </div>

</div>
